<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>This is your Packlist reminder!</h1>
      <ul>
        <% @items.each do |item| %>
       <li>
        <%= item.article %>:
        <%= item.quantity %>
        </li>
      <% end %>
      </ul>
    <p>Thanks for using PackerPro and have a great day!</p>
  </body>
</html>